/* inter */
:root{font-family: Inter, sans-serif;font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */}
@supports (font-variation-settings: normal) {:root { font-family: InterVariable, sans-serif; }}

body {
  background-color: #101010;color:white;margin:10% 20%;
}

h100 {
  font-size: 10px;
  font-weight: 80;
  line-height: 0.5;
  margin: 0;
  padding: 0;
}